In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("head.csv", dtype="object")
df.shape

(3756, 13)

In [3]:
df.head()

,レースID,年月日,レースNo,レース名,クラス,種別,距離,天候,状態,発走,競馬場,条件,Unnamed: 12
0,199901010611,1999年8月22日,11,第35回札幌記念,G2,芝右,2000,曇,良,15:35,1回札幌6日目,4歳以上オープン(混)(特指)(別定),NaN
1,199901020311,1999年9月11日,11,第4回エルムステークス,G3,ダ右,1700,曇,稍重,15:35,2回札幌3日目,4歳以上オープン(混)(指)(別定),NaN
2,199901020711,1999年9月25日,11,第34回札幌3歳ステークス,G3,芝右,1800,晴,重,15:50,2回札幌7日目,3歳オープン(混)(特指)(馬齢),NaN
3,199902010811,1999年7月4日,11,第35回函館記念,G3,芝右,2000,曇,良,15:35,1回函館8日目,4歳以上オープン(混)(特指)(ハンデ),NaN
4,199902020411,1999年7月18日,11,第6回函館スプリントS,G3,芝右,1200,晴,良,15:35,2回函館4日目,4歳以上オープン(混)(特指)(別定),NaN

In [4]:
# 最後の列を削除
df = df.drop(columns=["Unnamed: 12"])

In [5]:
# datetime型への変換処理
df["年月日"] = pd.to_datetime(df["年月日"], format="%Y年%m月%d日")

In [6]:
# レースIDをインデックスに
df = df.set_index("レースID")

In [7]:
df.head()

,年月日,レースNo,レース名,クラス,種別,距離,天候,状態,発走,競馬場,条件
レースID,,,,,,,,,,,
199901010611,1999-08-22,11,第35回札幌記念,G2,芝右,2000,曇,良,15:35,1回札幌6日目,4歳以上オープン(混)(特指)(別定)
199901020311,1999-09-11,11,第4回エルムステークス,G3,ダ右,1700,曇,稍重,15:35,2回札幌3日目,4歳以上オープン(混)(指)(別定)
199901020711,1999-09-25,11,第34回札幌3歳ステークス,G3,芝右,1800,晴,重,15:50,2回札幌7日目,3歳オープン(混)(特指)(馬齢)
199902010811,1999-07-04,11,第35回函館記念,G3,芝右,2000,曇,良,15:35,1回函館8日目,4歳以上オープン(混)(特指)(ハンデ)
199902020411,1999-07-18,11,第6回函館スプリントS,G3,芝右,1200,晴,良,15:35,2回函館4日目,4歳以上オープン(混)(特指)(別定)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3756 entries, 199901010611 to 202010010212
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年月日     3756 non-null   datetime64[ns]
 1   レースNo   3756 non-null   object
 2   レース名    3756 non-null   object
 3   クラス     2792 non-null   object
 4   種別      3756 non-null   object
 5   距離      3756 non-null   object
 6   天候      3756 non-null   object
 7   状態      3756 non-null   object
 8   発走      3756 non-null   object
 9   競馬場     3756 non-null   object
 10  条件      3756 non-null   object
dtypes: datetime64[ns](1), object(10)
memory usage: 352.1+ KB

In [9]:
# 欠損値
df.isnull().sum()

年月日        0
レースNo      0
レース名       0
クラス      964
種別         0
距離         0
天候         0
状態         0
発走         0
競馬場        0
条件         0
dtype: int64

In [10]:
# クラスの値
df["クラス"].value_counts()

G3       1386
G2        713
G1        420
J.G3      103
J.G2       63
J.G1       42
L          23
秋)(G1      21
春)(G1      21
Name: クラス, dtype: int64

In [11]:
# 欠損値を埋める
df["クラス"] = df["クラス"].fillna("")

In [12]:
# 文字列に含まれているかどうか
def split_class(x):
    if "G1" in x:
        return 1
    elif "G2" in x:
        return 2
    elif "G3" in x:
        return 3
    else:
        return 0

In [13]:
# apply
df["クラス"] = df["クラス"].apply(split_class)

In [14]:
df["クラス"]

レースID
199901010611    2
199901020311    3
199901020711    3
199902010811    3
199902020411    3
               ..
202010010208    0
202010010209    0
202010010210    0
202010010211    0
202010010212    0
Name: クラス, Length: 3756, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3756 entries, 199901010611 to 202010010212
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年月日     3756 non-null   datetime64[ns]
 1   レースNo   3756 non-null   object
 2   レース名    3756 non-null   object
 3   クラス     3756 non-null   int64
 4   種別      3756 non-null   object
 5   距離      3756 non-null   object
 6   天候      3756 non-null   object
 7   状態      3756 non-null   object
 8   発走      3756 non-null   object
 9   競馬場     3756 non-null   object
 10  条件      3756 non-null   object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 481.2+ KB

In [16]:
df.columns

Index(['年月日', 'レースNo', 'レース名', 'クラス', '種別', '距離', '天候', '状態', '発走', '競馬場',
       '条件'],
      dtype='object')

In [17]:
# 状態をカテゴリ化
codes, uniques = pd.factorize(df['状態'])

In [18]:
codes

array([0, 1, 2, ..., 2, 2, 2], dtype=int64)

In [19]:
# これはここでは使わない
uniques

Index(['良', '稍重', '重', '不良'], dtype='object')

In [20]:
# 0から始まる数値にする
df['状態'] = codes

In [21]:
# 型確認
df['状態'].dtype

dtype('int64')

In [22]:
# 型変換
df['状態'] = df['状態'].astype('category')

In [23]:
# 型確認
df['状態'].dtype

CategoricalDtype(categories=[0, 1, 2, 3], ordered=False)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3756 entries, 199901010611 to 202010010212
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年月日     3756 non-null   datetime64[ns]
 1   レースNo   3756 non-null   object
 2   レース名    3756 non-null   object
 3   クラス     3756 non-null   int64
 4   種別      3756 non-null   object
 5   距離      3756 non-null   object
 6   天候      3756 non-null   object
 7   状態      3756 non-null   category
 8   発走      3756 non-null   object
 9   競馬場     3756 non-null   object
 10  条件      3756 non-null   object
dtypes: category(1), datetime64[ns](1), int64(1), object(8)
memory usage: 455.7+ KB

In [25]:
# ダミー変数化
df = pd.get_dummies(df, columns=['種別', '天候'])

In [26]:
# 列削除
df.drop(["レース名", "競馬場", "条件"], axis=1, inplace=True)

In [27]:
# 型変換
df['レースNo'] = df['レースNo'].astype('int')
df['距離'] = df['距離'].astype('int')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3756 entries, 199901010611 to 202010010212
Data columns (total 27 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   年月日        3756 non-null   datetime64[ns]
 1   レースNo      3756 non-null   int32
 2   クラス        3756 non-null   int64
 3   距離         3756 non-null   int32
 4   状態         3756 non-null   category
 5   発走         3756 non-null   object
 6   種別_ダ右      3756 non-null   uint8
 7   種別_ダ左      3756 non-null   uint8
 8   種別_芝右      3756 non-null   uint8
 9   種別_芝右 内2周  3756 non-null   uint8
 10  種別_芝右 外    3756 non-null   uint8
 11  種別_芝右 外-内  3756 non-null   uint8
 12  種別_芝左      3756 non-null   uint8
 13  種別_芝左 外    3756 non-null   uint8
 14  種別_芝直線     3756 non-null   uint8
 15  種別_障芝      3756 non-null   uint8
 16  種別_障芝 ダート  3756 non-null   uint8
 17  種別_障芝 内-外  3756 non-null   uint8
 18  種別_障芝 外    3756 non-null   uint8
 19  種別_障芝 外-内  3756 non-null   uint8
 20  種別_障芝 左    3756 non-null   uint8
 21  天候_小雨      3756 non-null   uint8
 22  天候_小雪      3756 non-null   uint8
 23  天候_晴       3756 non-null   uint8
 24  天候_曇       3756 non-null   uint8
 25  天候_雨       3756 non-null   uint8
 26  天候_雪       3756 non-null   uint8
dtypes: category(1), datetime64[ns](1), int32(2), int64(1), object(1), uint8(21)
memory usage: 356.7+ KB

In [29]:
df

,年月日,レースNo,クラス,距離,状態,発走,種別_ダ右,種別_ダ左,種別_芝右,種別_芝右 内2周,...,種別_障芝 内-外,種別_障芝 外,種別_障芝 外-内,種別_障芝 左,天候_小雨,天候_小雪,天候_晴,天候_曇,天候_雨,天候_雪
レースID,,,,,,,,,,,,,,,,,,,,,
199901010611,1999-08-22,11,2,2000,0,15:35,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
199901020311,1999-09-11,11,3,1700,1,15:35,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
199901020711,1999-09-25,11,3,1800,2,15:50,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
199902010811,1999-07-04,11,3,2000,0,15:35,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
199902020411,1999-07-18,11,3,1200,0,15:35,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202010010208,2020-01-19,8,0,1200,2,13:40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
202010010209,2020-01-19,9,0,2000,2,14:15,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
202010010210,2020-01-19,10,0,1700,2,14:50,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
202010010211,2020-01-19,11,0,1200,2,15:25,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
202010010212,2020-01-19,12,0,2600,2,16:01,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0