In [1]:
import pandas as pd

In [35]:
df = pd.read_csv("head.csv")

In [26]:
df.head()

,レースID,年月日,レースNo,レース名,クラス,種別,距離,天候,状態,発走,競馬場,条件,Unnamed: 12
0,199901010611,1999年8月22日,11,第35回札幌記念,G2,芝右,2000,曇,良,15:35,1回札幌6日目,4歳以上オープン(混)(特指)(別定),NaN
1,199901020311,1999年9月11日,11,第4回エルムステークス,G3,ダ右,1700,曇,稍重,15:35,2回札幌3日目,4歳以上オープン(混)(指)(別定),NaN
2,199901020711,1999年9月25日,11,第34回札幌3歳ステークス,G3,芝右,1800,晴,重,15:50,2回札幌7日目,3歳オープン(混)(特指)(馬齢),NaN
3,199902010811,1999年7月4日,11,第35回函館記念,G3,芝右,2000,曇,良,15:35,1回函館8日目,4歳以上オープン(混)(特指)(ハンデ),NaN
4,199902020411,1999年7月18日,11,第6回函館スプリントS,G3,芝右,1200,晴,良,15:35,2回函館4日目,4歳以上オープン(混)(特指)(別定),NaN

In [27]:
# 名前付きグループ カラム名
df2 = df["競馬場"].str.extract('(?P<回数>\d*?)回(?P<場所>.*?)(?P<日程>\d.*)日')

In [28]:
df2.head()

  回数  場所 日程
0  1  札幌  6
1  2  札幌  3
2  2  札幌  7
3  1  函館  8
4  2  函館  4

In [54]:
import pandas as pd

df = pd.DataFrame({'x': [1, 2, 3, 4], 'y': ['A', 'B', 'C', 'D']})

def f1(a, b):
    return a * b

def f2(a, b, c):
    return a * b * c

print(df)

print("-"*50)

# 引数
print(df.x.apply(f1, args=(2,)))

print("-"*50)

# 引数 同じ意味
print(df.x.apply(f1, b=2))

print("-"*50)

# df全部の縦
print(df.apply(f1, b=2))

print("-"*50)

# 3つの引数
print(df.x.apply(f2, args=(2, 3)))

print("-"*50)

# 同じ意味
print(df.x.apply(f2, b=2, c=3))

   x  y
0  1  A
1  2  B
2  3  C
3  4  D
--------------------------------------------------
0    2
1    4
2    6
3    8
Name: x, dtype: int64
--------------------------------------------------
0    2
1    4
2    6
3    8
Name: x, dtype: int64
--------------------------------------------------
   x   y
0  2  AA
1  4  BB
2  6  CC
3  8  DD
--------------------------------------------------
0     6
1    12
2    18
3    24
Name: x, dtype: int64
--------------------------------------------------
0     6
1    12
2    18
3    24
Name: x, dtype: int64

In [38]:
df

   x  y
0  1  A
1  2  B
2  3  C
3  4  D

In [39]:
df.x.apply(f1, args=(2,))

0    2
1    4
2    6
3    8
Name: x, dtype: int64

In [40]:
df.x.apply(f1, b=2)

0    2
1    4
2    6
3    8
Name: x, dtype: int64

In [41]:
df.x.apply(f2, args=(2, 3))

0     6
1    12
2    18
3    24
Name: x, dtype: int64

In [42]:
# または
df.x.apply(f2, b=2, c=3)

0     6
1    12
2    18
3    24
Name: x, dtype: int64

In [43]:
# 各列へ一度に適用する場合
df.apply(f1, args=(2,))

   x   y
0  2  AA
1  4  BB
2  6  CC
3  8  DD

In [44]:
df.apply(f1, b=2)

   x   y
0  2  AA
1  4  BB
2  6  CC
3  8  DD

In [60]:
import sys

insert_price = input("お預かり：")
if not insert_price.isdecimal():
    print("整数を入力してください")
    sys.exit()

product_price = input("金額：")
if not product_price.isdecimal():
    print("整数を入力してください")
    sys.exit()

change = int(insert_price) - int(product_price)

if change < 0:
    print("金額が不足しています")
    sys.exit()

print("お釣り", change)

print("金種")

coin = [5000, 1000, 500, 100, 50, 10, 5, 1]
for i in coin:
    r, change = divmod(change, i)
    print(f"{i}: {r}")

お預かり： 10000
金額： 5700

お釣り 4300
金種
5000: 0
1000: 4
500: 0
100: 3
50: 0
10: 0
5: 0
1: 0

In [61]:
divmod(10,3)

(3, 1)